<a href="https://colab.research.google.com/github/rajeshmore1/Capstone-Project-2/blob/main/Rajesh_More_Team1_Capstone_Project_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# <b><u> Project Title : Sentiment Analysis : Predicting sentiment of COVID-19 tweets</u></b>

## <b> Problem Description </b>

### This challenge asks you to build a classification model to predict the sentiment of COVID-19 tweets.The tweets have been pulled from Twitter and manual tagging has been done then.

### The names and usernames have been given codes to avoid any privacy concerns.

### You are given the following information:
1. Location
2. Tweet At
3. Original Tweet
4. Label

COVID-19 originally known as Corona VIrus Disease of 2019, has been declared as a pandemic by World Health Organization (WHO) on 11th March 2020. Unprecedented pressures have mounted on each country to make compelling requisites for controlling the population by assessing the cases and properly utilizing available resources. The rapid number of exponential cases globally has become the apprehension of panic, fear and anxiety among people. The mental and physical health of the global population is found to be directly proportional to this pandemic disease. It is the need of the hour to implement different measures to safeguard the countries by demystifying the pertinent facts and information.

In [1]:
import pandas as pd
import numpy as np
from numpy import percentile
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
working_dir_path = '/content/drive/MyDrive/AlmaBetter/Cohort Aravali/Module 4/Week 1/Day 1/Copy of Coronavirus Tweets.csv'
df = pd.read_csv(working_dir_path,encoding = 'latin')

In [4]:
df.head()

   UserName  ...           Sentiment
0      3799  ...             Neutral
1      3800  ...            Positive
2      3801  ...            Positive
3      3802  ...            Positive
4      3803  ...  Extremely Negative

[5 rows x 6 columns]

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 41157 entries, 0 to 41156
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   UserName       41157 non-null  int64
 1   ScreenName     41157 non-null  int64
 2   Location       32567 non-null  object
 3   TweetAt        41157 non-null  object
 4   OriginalTweet  41157 non-null  object
 5   Sentiment      41157 non-null  object
dtypes: int64(2), object(4)
memory usage: 1.9+ MB

In [7]:
df.shape

(41157, 6)

In [8]:
df.columns

Index(['UserName', 'ScreenName', 'Location', 'TweetAt', 'OriginalTweet',
       'Sentiment'],
      dtype='object')

In [9]:
df.TweetAt.value_counts()

20-03-2020    3448
19-03-2020    3215
25-03-2020    2979
18-03-2020    2742
21-03-2020    2653
22-03-2020    2114
23-03-2020    2062
17-03-2020    1977
08-04-2020    1881
07-04-2020    1843
06-04-2020    1742
24-03-2020    1480
09-04-2020    1471
13-04-2020    1428
26-03-2020    1277
05-04-2020    1131
10-04-2020    1005
02-04-2020     954
11-04-2020     909
03-04-2020     810
12-04-2020     803
04-04-2020     767
16-03-2020     656
01-04-2020     630
27-03-2020     345
31-03-2020     316
14-04-2020     284
29-03-2020     125
30-03-2020      87
28-03-2020      23
Name: TweetAt, dtype: int64

In [10]:
df['Location'].value_counts()

London                    540
United States             528
London, England           520
New York, NY              395
Washington, DC            373
                         ...
Bombay, India               1
Wading River, New York      1
1 mile high (Denver)        1
South West                  1
Tel-Aviv                    1
Name: Location, Length: 12220, dtype: int64

In [11]:
df['Sentiment'].value_counts()

Positive              11422
Negative               9917
Neutral                7713
Extremely Positive     6624
Extremely Negative     5481
Name: Sentiment, dtype: int64

In [12]:
df[df['Sentiment']=='Extremely Negative']

       UserName  ...           Sentiment
4          3803  ...  Extremely Negative
20         3819  ...  Extremely Negative
27         3826  ...  Extremely Negative
29         3828  ...  Extremely Negative
42         3841  ...  Extremely Negative
...         ...  ...                 ...
41115     44914  ...  Extremely Negative
41128     44927  ...  Extremely Negative
41130     44929  ...  Extremely Negative
41133     44932  ...  Extremely Negative
41153     44952  ...  Extremely Negative

[5481 rows x 6 columns]

In [13]:
df[df['Sentiment']=='Extremely Negative'].loc[20,'OriginalTweet']

'with 100  nations inficted with  covid  19  the world must  not  play fair with china  100 goverments must demand  china  adopts new guilde  lines on food safty  the  chinese  goverment  is guilty of  being  irosponcible   with life  on a global scale'

In [14]:
df[df['Sentiment']=='Extremely Negative'].loc[41153,'OriginalTweet']

'Response to complaint not provided citing COVID-19 related delays. Yet prompt in rejecting policy before consumer TAT is over. Way to go ?'

In [16]:
df[df['Sentiment']=='Negative']

       UserName  ...  Sentiment
9          3808  ...   Negative
24         3823  ...   Negative
26         3825  ...   Negative
28         3827  ...   Negative
30         3829  ...   Negative
...         ...  ...        ...
41127     44926  ...   Negative
41131     44930  ...   Negative
41147     44946  ...   Negative
41149     44948  ...   Negative
41156     44955  ...   Negative

[9917 rows x 6 columns]

In [17]:
df[df['Sentiment']=='Negative'].loc[41149,'OriginalTweet']

'Still shocked by the number of #Toronto supermarket employees working without some sort of mask. We all know by now, employees can be asymptomatic while spreading #coronavirus .'

In [18]:
df[df['Sentiment']=='Neutral']

       UserName  ...  Sentiment
0          3799  ...    Neutral
7          3806  ...    Neutral
10         3809  ...    Neutral
16         3815  ...    Neutral
17         3816  ...    Neutral
...         ...  ...        ...
41141     44940  ...    Neutral
41143     44942  ...    Neutral
41144     44943  ...    Neutral
41152     44951  ...    Neutral
41155     44954  ...    Neutral

[7713 rows x 6 columns]

In [19]:
df[df['Sentiment']=='Neutral'].loc[17,'OriginalTweet']

'@eyeonthearctic 16MAR20 Russia consumer surveillance watchdog reported case in high Arctic where a man who traveled to Iran has COVID-19 and 101 are "observed"\r\r\nhttps://t.co/4WnrrK9oKC https://t.co/ld05k5Eyns'

In [20]:
df[df['Sentiment']=='Neutral'].loc[16,'OriginalTweet']

'????? ????? ????? ????? ??\r\r\n?????? ????? ??????? ????????? ?\r\r\n#????_???? ????? ???? ?????? ? #????????? ?????? ?? 13 ???? ?? ?? ???? ?????? ?? ??\r\r\n#???_???????? ????? ??? ???? ? https://t.co/51bL8P6vZh'

In [21]:
df[df['Sentiment']=='Positive']

       UserName  ...  Sentiment
1          3800  ...   Positive
2          3801  ...   Positive
3          3802  ...   Positive
5          3804  ...   Positive
6          3805  ...   Positive
...         ...  ...        ...
41140     44939  ...   Positive
41145     44944  ...   Positive
41146     44945  ...   Positive
41150     44949  ...   Positive
41154     44953  ...   Positive

[11422 rows x 6 columns]

In [22]:
df[df['Sentiment']=='Positive'].loc[1,'OriginalTweet']

'advice Talk to your neighbours family to exchange phone numbers create contact list with phone numbers of neighbours schools employer chemist GP set up online shopping accounts if poss adequate supplies of regular meds but not over order'

In [23]:
df[df['Sentiment']=='Positive'].loc[6,'OriginalTweet']

'Cashier at grocery store was sharing his insights on #Covid_19 To prove his credibility he commented "I\'m in Civics class so I know what I\'m talking about". https://t.co/ieFDNeHgDO'

In [24]:
df[df['Sentiment']=='Extremely Positive']

       UserName  ...           Sentiment
11         3810  ...  Extremely Positive
12         3811  ...  Extremely Positive
18         3817  ...  Extremely Positive
22         3821  ...  Extremely Positive
23         3822  ...  Extremely Positive
...         ...  ...                 ...
41137     44936  ...  Extremely Positive
41138     44937  ...  Extremely Positive
41142     44941  ...  Extremely Positive
41148     44947  ...  Extremely Positive
41151     44950  ...  Extremely Positive

[6624 rows x 6 columns]

In [25]:
df[df['Sentiment']=='Extremely Positive'].loc[11,'OriginalTweet']

'Due to the Covid-19 situation, we have increased demand for all food products. \r\r\n\r\r\nThe wait time may be longer for all online orders, particularly beef share and freezer packs. \r\r\n\r\r\nWe thank you for your patience during this time.'

In [27]:
df[df['Sentiment']=='Extremely Positive'].loc[22,'OriginalTweet']

'We have AMAZING CHEAP DEALS! FOR THE #COVID2019 going on to help you???\r\r\n#Trials\r\r\n#Monthly\r\r\n#Yearly \r\r\nAnd Resonable #Prices / #Subscriptions\r\r\nJust DM US! #bestiptv #iptv #Service #Iptv #iptvdeals #Cheap #ipTV #Football #HD #Movies #Adult #Cinema #hotmovies #iptvnew #iptv2020 #Adult'

In [32]:
pd.isnull(df["Sentiment"])

0        False
1        False
2        False
3        False
4        False
         ...
41152    False
41153    False
41154    False
41155    False
41156    False
Name: Sentiment, Length: 41157, dtype: bool